{% extends 'base_front.html.twig' %}

{% block pane %}
<div class="row">
    <div class="col-md-10 col-lg-10">
        <div class="shortcode_widget_table">
            <h4 class="short_code_title">Réservations</h4>
            <div class="ui_kit_table">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date Début</th>
                            <th scope="col">Date Fin</th>
                            <th scope="col">User</th>
                            <th scope="col">Location</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ reservation.getId() }}</td>
                                <td>{{ reservation.getDateDebut()|date('Y-m-d') }}</td>
                                <td>{{ reservation.getDateFin()|date('Y-m-d') }}</td>
                                <td>{{ reservation.getUser().getNomUtilisateur() }} {{ reservation.getUser().getPrenomUtilisateur() }}</td>
                                <td>{{ reservation.getLocation().getType() }}</td>
                                <td>{{ reservation.getNotes() }}</td>
                                <td>
                                    <div class="d-flex">
                                        <!-- Mettez ici vos boutons d'action, comme supprimer ou mettre à jour -->
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
