{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="hero_area">
    <!-- Header Section -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                <a class="navbar-brand" href="index.html">
                    <img src="{{ asset('assets/images/batah_logo.png') }}" alt="Batah Logo" style="width: 200px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </header>
    <!-- End Header Section -->

    <!-- Slider Section -->
    <section class="slider_section position-relative">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="slider_item-box">
                        <div class="slider_item-container">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-6 my-5">
                                        <div class="slider_item-detail">
                                            <h1 class="col-md-12" style="width: 100%; position: relative;">
                                                Découvrez BAT<span class="custom_orange-text">TAH</span>
                                            </h1>
                                            <p>
                                                Bienvenue dans notre plateforme d'enchères de voitures et terrains en Tunisie. Vivez une expérience unique avec des enchères en temps réel, des annonces instantanées des gagnants et un historique complet de vos actions pour une transparence totale. Rejoignez-nous dès aujourd'hui pour vivre une expérience d'enchères comme jamais auparavant !
                                            </p>
                                            <div class="d-flex" style="margin-top: 8%;">
                                                <a href="{{ asset('/login') }}" class="text-uppercase custom_orange-btn mr-3">
                                                    Se connecter
                                                </a>
                                                <a href="{{ asset('/register') }}" class="text-uppercase custom_dark-btn">
                                                    S'inscrire
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="slider_img-box">
                                            <img src="{{ asset('assets/images/slide-img2.png') }}" height="300px" width="800px" alt="Slider Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Section -->
</div>

{% endblock %}
