{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
<div class="c_container">
<div class="col-md-6">
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DateLivraison</th>
                <th>Statut</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.dateLivraison ? livraison.dateLivraison|date('Y-m-d') : '' }}</td>
                <td>{{ livraison.statut }}</td>
                <td>{{ livraison.commande.adresse }}</td>
                <td>
                    <a href="{{ path('app_livraison_show', {'idLivraison': livraison.idLivraison}) }}">show</a>
                    <a href="{{ path('app_livraison_edit', {'idLivraison': livraison.idLivraison}) }}">edit</a>
                    <a href="{{ path('affecter_partenaire', {'idLivraison': livraison.idLivraison}) }}">affecter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="col-md-6">
        <h2>Statistique des livraisons</h2>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <canvas id="livraisonChart" width="400" height="200"></canvas>
        <script>
            let statuts = [];
            let nbLivraisons = [];

            {% for livraisonStat in livraisonsStats %}
            statuts.push('{{ livraisonStat.statut }}');
            nbLivraisons.push('{{ livraisonStat.nbLivraisons }}');
            {% endfor %}

            let ctx = document.getElementById('livraisonChart').getContext('2d');
            let chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: statuts,
                    datasets: [{
                        label: 'Nombre de livraisons',
                        data: nbLivraisons,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</div>
{% endblock %}
