{% extends 'utilisateur/index.html.twig' %}

{% block title %}ServiceApresVente index{% endblock %}

{% block body %}
    <h1>ServiceApresVente index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Description</th>
                <th>Type</th>
                <th>Date</th>
                <th>Status</th>
                <th>idAchat</th>
                <th>idPartenaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_apres_vente in service_apres_ventes %}
            <tr>

                <td>{{ service_apres_vente.description }}</td>
                <td>{{ service_apres_vente.type }}</td>
                <td>{{ service_apres_vente.date ? service_apres_vente.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ service_apres_vente.status ? 'Yes' : 'No' }}</td>
                <td>{{ service_apres_vente.idAchats is not null ? service_apres_vente.idAchats : 'None'}}</td>
                <td>{{ service_apres_vente.idPartenaire is not null ? service_apres_vente.idPartenaire : 'None' }}</td>
                <td>
                <a href="{{ path('app_service_apres_vente_show', {'idService': service_apres_vente.idService}) }}">show</a>
                    <a href="{{ path('app_service_apres_vente_edit', {'idService': service_apres_vente.idService}) }}">edit</a>
                    <a href="{{ path('app_assign_partner', {'idService': service_apres_vente.idService}) }}">affecter</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_apres_vente_new') }}">Create new</a>
{% endblock %}
