
{{ form_start(form, {'attr': {'class': 'form', 'enctype': 'multipart/form-data'}}) }}

<div class="form-group">
    {{ form_label(form.commentaire, 'commentaire', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.commentaire, {'attr': {'class': 'form-control ' ~ (form_errors(form.commentaire) ? 'is-invalid' : '') }}) }}
    {% if form_errors(form.commentaire) %}
        <div class="invalid-feedback">
            {{ form_errors(form.commentaire)|first }}
        </div>
    {% endif %}
</div>
<button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}