{% extends 'base_front.html.twig' %}

{% block title %}HOME{% endblock %}
    {% block basket %}  
        <span class='badge badge-warning badge2' id='lblCartCount'>
            {{ basketItemsCount }}
        </span> 
    {% endblock %}

{% block pane %}
 
<style>
    .slide-one {
        background-size: cover;
        background-position: center;
        height: 500px; /* Adjusted height value */
    }
    .banner-title {
        font-size: 80px; /* Reduced font size for better readability */
        color: #E0115F;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow for better contrast */
    }

    .banner_top_title {
        font-size: 50px;
        color: #D3D3D3;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background for caption */
        padding: 20px; /* Increased padding for better spacing */
        border-radius: 10px; /* Rounded corners for caption */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.6); /* Dark background for carousel control icons */
        border-radius: 50%; /* Rounded shape for control icons */
    }

    .carousel-control-prev-icon::before,
    .carousel-control-next-icon::before {
        color: #fff; /* White color for control icons */
    }

    .album {
        padding: 30px; /* Increased padding for album section */
    }

    .sidebar-search {
        margin-top: -27px;
    }

    .widget_input {
        width: 100%; /* Full width for search input */
        background: #fff; /* White background for input */
        border: none; /* Removed border for input */
        border-radius: 5px; /* Added border radius for input */
        padding: 10px; /* Added padding for input */
    }

    .nav {
        margin-top: 20px; /* Increased margin for navigation */
    }

    .nav-second-level {
        padding-left: 20px; /* Added padding for sub-navigation */
    }

    .errorLi {
        color: #ff0000; /* Red color for error message */
    }

    .alert {
        position: fixed;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        margin: 10px;
        padding: 8px 25px;
        border-radius: 4px;
        font-size: 16px;
    }

    .alert-success {
        background-color: #2ecc71; /* Green color for success alert */
        color: #fff; /* White text color for success alert */
    }

    .ser_110_thumb {
        position: relative; /* Added relative positioning */
        overflow: hidden; /* Hidden overflow for thumbnail */
    }

    .ser_110_thumb img {
        transition: transform 0.3s ease; /* Smooth transition effect */
    }

    .ser_110_thumb:hover img {
        transform: scale(1.1); /* Increased scale on hover for thumbnail */
    }
    .container2 {
        position: relative;
        width: 100%;
        height: 500px; /* Ajustez la hauteur selon vos besoins */
    }
    
    .background-image2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-image:  url('/uploads/Untitled-design.jpg'); /* Remplacez par le chemin de votre image */
        background-size: contain;
        background-position: center;
    }
    
    
    .blinking-text2 {
        animation: blink 1s infinite; /* Animation de clignotement */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* Couleur du texte */
        background-color: black; /* Ajout d'un arrière-plan noir */
        padding: 10px; /* Ajout de rembourrage pour améliorer la lisibilité */
    }
    
    @keyframes blink {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% { opacity: 0; }
    }
    

    .comment-section {
    margin-top: 20px;
}

.comment-section h3, .rating-section h4 {
    margin-bottom: 10px;
}

.stars {
    color: #ffd700; /* Couleur des étoiles */
}

.stars i {
    font-size: 20px; /* Taille des étoiles */
    margin-right: 5px; /* Espacement entre les étoiles */
}

.ser_title098 {
    text-align: center; /* Centrer le texte */
    margin-top: 15px; /* Marge supplémentaire au-dessus */
}

.ser_title098 a {
    color: #333; /* Couleur du lien */
    text-decoration: none; /* Supprimer la soulignement du lien */
}

.ser_title098 a:hover {
    color: #E0115F; /* Couleur du lien au survol */
}

.product-card {
    border: 1px solid #ccc;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    color: #777;
}

.comment-section {
    margin-top: 20px;
}

.stars {
    color: #ffd700; /* Couleur des étoiles */
}

.stars i {
    font-size: 20px; /* Taille des étoiles */
    margin-right: 5px; /* Espacement entre les étoiles */
}


.btn-details {
    background-color: #E0115F;
    border-color: #E0115F;
}

.btn-details:hover {
    background-color: #C6004D;
    border-color: #C6004D;
}

    
</style>



<section class="home-one mt-5 mt-md-5 p-0">
<section class="home-one mt-5 mt-md-5 p-0">
    <div class="container2">
        <div class="background-image2">
            <div class="blinking-text2">
                <h1>VENDRE VOTRE VOITURE D'OCCASION N'A JAMAIS ÉTÉ AUSSI FACILE.</h1>
            </div>
        </div>
    </div>
</section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="main-banner-wrapper home2_main_slider mb-3">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for prod in products %}
                            {# Calcul du prix mensuel #}
                            {% set prix_total = prod.prix %}
                            {% set duree = 36 %} {# supposons une période de paiement de 36 mois #}
                            {% set prix_mensuel = prix_total / duree %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="slide slide-one" style="background-image: url('{{ asset('uploads/' ~ prod.getPhoto()) }}');">
                            <div class="container">
                                        <div class="row home-content-home2-style">
                                            <div class="col-lg-12 p-0">
                                                <h2 class="banner-title text-white"><small>{{ prod.gettype() }}</small><br>{{ prod.getlabelle() }}</h2>
                                                <h3 class="banner_top_title text-thm">
                                                    <span class="animated-object1"><img class="objects" src="images/home/title-bottom-border.svg" alt=""></span>
                                                    <span style="color: #E0115F; background-color: #ffffff; padding: 5px 10px; border-radius: 5px;">
                                                PRIX: {{ prod.getprix()|number_format(0, '.', ',') }}DT</span><small class="text-white"></small>
                                            </h3>
                                                <p><span style="font-size: 30px; color: #ffffff;">Monthly payment: {{ prix_mensuel|number_format(0, '.', ',') }} TND</span></p>
                                                <a href="{{ path('app_details_produit', {'idp': prod.getidproduit()}) }}" class="btn banner-btn">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-caption d-none d-md-block">
                                    <!-- Ajoutez ici les légendes des slides si nécessaire -->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
    <section class="min-sec">
        <div class="container">

            <div class="row">
                <section >

                    <div class="album py-5 bg-light">
                        <div class="container">
                            <div class="sidebar-search" >
                                <div class="input-group custom-search-form" style="margin-top: -27px;">
                                    <input    type="text" id="search" class="form-control widget_input" placeholder="Chercher..." style="width: 1180px;background: white">
                                </div>
                                <br>
                                <!-- /input-group -->
                                <ul class="nav" id="side-menu">
                                    <li>
                                        <a href="#"> <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level" id="entitiesNav">
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row d-flex" id="containerr">
                <div id="search"></div>
                <div class="nav nav-tabs col-lg-12 justify-content-center" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All Status</button>
            <button class="nav-link" id="nav-shopping-tab" data-bs-toggle="tab" data-bs-target="#nav-shopping" role="tab" aria-controls="nav-shopping" aria-selected="false">New Cars</button>
              </div>
          
                <div class="row justify-content-center">
               
                <div class="row">
                <!-- Single Item -->
                {% for p in listS %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 product-card">
                
                {% set images = imagesByLocation[p.getIdProduit()] %}
                {% if images is not empty %}
                    <div id="carousel{{ p.getIdProduit() }}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">
                       
{#
<div class="carousel-item {% if loop.first %}active{% endif %}">
    <div class="image-container" style="width: 250px; height: 250px; overflow: hidden;">
        <img src="{{ asset(image.getUrl()) }}" class="d-block w-100" alt="{{ p.labelle }}" style="object-fit: cover; width: 100%; height: 100%;">
    </div>
</div>
#}

                    <div class="carousel-inner">
                            {% for key, image in images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset(image.getUrl()) }}" class="d-block w-100" alt="{{ p.labelle }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ p.getIdProduit() }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ p.getIdProduit() }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                {% else %}
                    <img src="{{ asset('uploads/defaultimage.jpg') }}" class="card-img-top" alt="Default Image">
                {% endif %}
                
                <!-- Autres détails de la carte -->
            
{#                  
                    {% if p.images|length > 0 %}
                    {% for image in p.images %}
                        <img src="{{ asset('uploads/' ~ image.url) }}" class="card-img-top" alt="{{ p.labelle }}">
                    {% endfor %}
                {% else %}
                    <!-- Si le produit n'a pas d'images, affichez une image par défaut ou un message -->
                    <img src="{{ asset('uploads/default.jpg') }}" class="card-img-top" alt="Image par défaut">
                {% endif %}
  #}
                <div class="card-body">
                            <h5 class="card-title">{{ p.labelle }}</h5>
                            <p class="card-text">From <strong>{{ p.prix|number_format(0, '.', ',') }} DT</strong></p>
                            <a href="{{ path('detailProduitFront', {'idp': p.getIdProduit()}) }}" class="btn btn-primary btn-details">Voir les détails</a>
                        <p class="card-text">Nombre de vues: {{ p.getNombreDeVues() }}</p>
     {#          
          
       <!-- Affichage des commentaires pour ce produit -->
<h3>Commentaires :</h3>
    <ul>
        {% if p.comments is defined %}
            {% for comment in p.comments %}
                <li>
                    {{ comment.commentaire }} - Par :<img src="{{ asset('uploads/'~ comment.idClient.avatar ) }}" width="50" height="50" alt="Avatar" >    {{ comment.idClient.username }} - Date : {{ comment.date|date('Y-m-d H:i:s') }}
                    {% if app.user and app.user == comment.idClient %}
                        <a href="{{ path('delete_comment', {'id': comment.id}) }}" class="delete-comment">Supprimer</a>
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <li>Aucun commentaire pour le moment.</li>
        {% endif %}
    </ul>
    
    <div class="post-input-container">
<button  onclick="openForm()"><strong>Ajouter Un Commentaire</strong></button>
</div>

<div class="form-popupc" id="popupForm">
<div class="comment">
<section class="post">
    <h3 class="fermer" onclick="closeForm()">Fermer</h3>
    <header>Ajouter Un Commentaire</header>
    <div class="form">
    #}
   {#
    {{ form_start(form,{'attr' :{'novalidate':'novalidate'}}) }}
        <div class="user-profile">
            <img src="{{ asset('uploads/'~ user.Image ) }}" alt="logo">
            <div class="details">
                <p>{{ user.UserName }}</p>
            </div>
        </div>
        {{form_widget(form.Commentaire)}}
        <button type= "submit" class="btn btn-success"> Commenter ! </button>
        <div class="options">
        </div>

        {{ form_end(form) }}
    </div>
#}           
        </div>
        <hr>
                        <div class="card-footer text-center">
                            {% if p.getIdProduit() in existingArticles %}
                            <img src="{{ asset('assets/images/basketChecked.png') }}" alt="exist in cart" width="54px">
                            {% else %}
                            <a href="{{ path('app_addToBasket', {'idp': p.getIdProduit()} ) }}">
                                <img src="{{ asset('assets/images/basket2.png') }}" alt="add to cart" width="52px">
                            </a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            

            
    </section>
    {% for flash_message in app.session.flashbag.get('success') %}
        <div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; top: 65px; left: 50%; transform: translateX(-50%); z-index: 9999; margin: 10px; padding: 8px 25px; border-radius: 4px; background-color: #2ecc71; color: #fff; font-size: 16px; ">
            {{ flash_message }}

        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('successPaiement') %}
        <div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; top: 105px; left: 50%; transform: translateX(-50%); z-index: 9999; margin: 10px; padding: 8px 25px; border-radius: 4px; background-color: #2ecc71; color: #fff; font-size: 16px; ">
            {{ flash_message }}

        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('command_ajoute') %}
        <div id="myAlert2" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; top: 65px; left: 50%; transform: translateX(-50%); z-index: 9999; margin: 10px; padding: 8px 25px; border-radius: 4px; background-color: #2ecc71; color: #fff; font-size: 16px; ">
            {{ flash_message }}
        </div>
    {% endfor %}

    <script>
        // Automatically dismiss the alert after 3 seconds
        setTimeout(function() {
            document.querySelector('.alert').remove();
        }, 3000);
    </script>

    <!-- jQuery is necessary -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            var minlength = 3;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}", // Remplacez 'votre_endpoint_de_recherche' par l'URL de votre endpoint de recherche
                    data: {
                        'q' : value
                    },
                    dataType: "json", // Changez le type de données attendu à JSON
                    success: function(response){
                        // Vérifiez si la réponse contient des données
                        if (response && response.products) {
                            $.each(response.products, function(id, product) {
                                // Ajoutez les éléments de produit à votre HTML
                                entitySelector.append('<div style="display: table;width:100%;padding: 15px"><span style="text-align: center">'+product[3]+'</span><br/><a href="/detailProduit/front/'+product[0]+'">'+'<img src="/uploads/'+product[1]+'" style="width: 150px; height: 150px"/>'+'</a></div>');
                            });
                             } else {
                            // Gérez les cas où aucune donnée n'est renvoyée
                            entitySelector.append('<li class="errorLi">Aucun résultat trouvé</li>');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(error); // Affichez les erreurs dans la console
                    }
                });
            }
        });
    });
    /*
    function likeProduct(productId) {
        $.ajax({
            type: "POST",
            url: "/like/" + productId,
            success: function(data) {
                // Update the like count for the specific product
                $("#like-count-" + productId).text(data.likes);
            }
        });
    }
*/
    function likeProduct(productId) {
    $.ajax({
        type: "POST",
        url: "/like2/" + productId,
        success: function(data) {
            // Update the like count on the page
            $("#like-count-" + productId).text(data.likes);
        }
    });
    }
    function dislikeProduct(productId) {
        $.ajax({
            type: "POST",
            url: "/dislike/" + productId,
            success: function(data) {
                // Update the dislike count for the specific product
                $("#dislike-count-" + productId).text(data.dislikes);
            }
        });
    }
    </script>


    <script>
        $(document).ready(function(){
            $(".btn1").click(function(){
                $("h1").slideUp();
            });
            $(".btn2").click(function(){
                $("h1").slideDown();
            });
            $(".btn3").click(function(){
                $("h1").slideToggle();
            });
        });


         // JavaScript for rating functionality
document.addEventListener('DOMContentLoaded', function() {
    const stars = document.querySelectorAll('.stars i');

    stars.forEach(star => {
        star.addEventListener('click', function() {
            const rating = this.dataset.rating;
            document.getElementById('rating').value = rating;
            highlightStars(rating);
        });
    });

    function highlightStars(rating) {
        stars.forEach(star => {
            if (star.dataset.rating <= rating) {
                star.classList.add('rated');
            } else {
                star.classList.remove('rated');
            }
        });
    }
});



    </script>

    

    <script>
        document.getElementById('add-comment-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Empêcher la soumission du formulaire par défaut
    
            var formData = new FormData(this);
    
            fetch(this.getAttribute('action'), {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erreur lors de l\'ajout du commentaire');
                }
                return response.json();
            })
            .then(data => {
                alert(data.message); // Afficher un message de succès
                // Rafraîchir la page ou charger les nouveaux commentaires via AJAX si nécessaire
            })
            .catch(error => {
                console.error('Erreur:', error);
                alert('Une erreur s\'est produite lors de l\'ajout du commentaire');
            });
        });



        
    </script>
    <script>
        function openForm() {
            document.getElementById("popupForm").style.display = "block";
        }
    
        function closeForm() {
            document.getElementById("popupForm").style.display = "none";
        }
    </script>

    
    {{ knp_pagination_render(listS, 'bootstrap_4_pagination.html.twig') }}




    
  
{% endblock %}

{% block footer %} {% endblock %}