{% extends 'base_front.html.twig' %}

{% block title %}HOME{% endblock %}
{% block pane %}

<style>
  .slide-one {
      background-size: cover; /* Assure que l'image couvre entièrement le conteneur */
      background-position: center; /* Centre l'image horizontalement et verticalement */
      height: 750px; /* Définissez la hauteur souhaitée pour toutes les images */
  }
  .banner-title {
    font-size: 100px; /* Taille de la police pour le titre */
    color: #E0115F ; /* Couleur du texte pour le titre */
}

.banner_top_title {
    font-size: 70px; /* Taille de la police pour le sous-titre */
    color: #D3D3D3  ; /* Couleur du texte pour le sous-titre */
}
</style>

<section class="home-one mt10 mt70-992 p0 bdrs16 bdrs0-md ovh">
    <div class="container-fluid p0">
        <div class="row">
            <div class="col-xl-12">
                <div class="main-banner-wrapper home2_main_slider mb30-md">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for prod in products %}
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for prod in products %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="slide slide-one" style="background-image: url('{{ asset('uploads/' ~ prod.getphoto()) }}');">
                                    <div class="container">
                                        <div class="row home-content-home2-style">
                                            <div class="col-lg-12 p0">
                                                <h2 class="banner-title"><small>2021</small><br>{{ prod.getlabelle() }}</h2>
                                                <h3 class="banner_top_title text-thm">
                                                    <span class="animated-object1"><img class="objects" src="images/home/title-bottom-border.svg" alt=""></span>
                                                    <span>${{ prod.getprix() }}</span><small class="text-white">/ Month</small>
                                                </h3>
                                                <a href="{{ path('app_details_produit', {'idp': prod.getidproduit()}) }}" class="btn banner-btn">Learn More</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-caption d-none d-md-block">
                                    <!-- Ajoutez ici les légendes des slides si nécessaire -->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  


    <!-- How It Works -->
    
    <section class="whychose_us pb70 pt0">
      <div class="container">
        <div class="row mb20">
          <div class="col-lg-10 m-auto">
            <div class="advance_search_panel home2_style">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-allstatus-tab" data-bs-toggle="pill" data-bs-target="#pills-allstatus" type="button" role="tab" aria-controls="pills-allstatus" aria-selected="true">All Status</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-usedcar-tab" data-bs-toggle="pill" data-bs-target="#pills-usedcar" type="button" role="tab" aria-controls="pills-usedcar" aria-selected="false">Used Cars</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-newcar-tab" data-bs-toggle="pill" data-bs-target="#pills-newcar" type="button" role="tab" aria-controls="pills-newcar" aria-selected="false">New Cars</button>
                    </li>
                  </ul>
                  <div class="adss_bg_stylehome1">
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-allstatus" role="tabpanel" aria-labelledby="pills-allstatus-tab">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="home1_advance_search_wrapper">
                              <ul class="mb0 text-center">
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_brand">
                                      <h6 class="title">Make</h6>
                                      <select class="selectpicker">
                                        <option>Select Makes</option>
                                        <option>Audi</option>
                                        <option>Bentley</option>
                                        <option>BMW</option>
                                        <option>Ford</option>
                                        <option>Honda</option>
                                        <option>Mercedes</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_models">
                                      <h6 class="title">Models</h6>
                                      <select class="selectpicker">
                                        <option>Select Models</option>
                                        <option>A3 Sportback</option>
                                        <option>A4</option>
                                        <option>A6</option>
                                        <option>Q5</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_prices">
                                      <h6 class="title">Price</h6>
                                      <select class="selectpicker">
                                        <option>All Price</option>
                                        <option>No max Price</option>
                                        <option>$2,000</option>
                                        <option>$5,000</option>
                                        <option>$10,000</option>
                                        <option>$15,000</option>
                                        <option>$5,000</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="d-block">
                                    <button class="btn btn-thm advnc_search_form_btn"><span class="flaticon-magnifiying-glass"></span>Search</button>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pills-usedcar" role="tabpanel" aria-labelledby="pills-usedcar-tab">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="home1_advance_search_wrapper">
                              <ul class="mb0 text-center">
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_brand">
                                      <h6 class="title">Make</h6>
                                      <select class="selectpicker">
                                        <option>Select Makes</option>
                                        <option>Audi</option>
                                        <option>Bentley</option>
                                        <option>BMW</option>
                                        <option>Ford</option>
                                        <option>Honda</option>
                                        <option>Mercedes</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_models">
                                      <h6 class="title">Models</h6>
                                      <select class="selectpicker">
                                        <option>Select Models</option>
                                        <option>A3 Sportback</option>
                                        <option>A4</option>
                                        <option>A6</option>
                                        <option>Q5</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_prices">
                                      <h6 class="title">Price</h6>
                                      <select class="selectpicker">
                                        <option>All Price</option>
                                        <option>No max Price</option>
                                        <option>$2,000</option>
                                        <option>$5,000</option>
                                        <option>$10,000</option>
                                        <option>$15,000</option>
                                        <option>$5,000</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <button class="btn btn-thm advnc_search_form_btn"><span class="flaticon-magnifiying-glass"></span>Search</button>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pills-newcar" role="tabpanel" aria-labelledby="pills-newcar-tab">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="home1_advance_search_wrapper">
                              <ul class="mb0 text-center">
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_brand">
                                      <h6 class="title">Make</h6>
                                      <select class="selectpicker">
                                        <option>Select Makes</option>
                                        <option>Audi</option>
                                        <option>Bentley</option>
                                        <option>BMW</option>
                                        <option>Ford</option>
                                        <option>Honda</option>
                                        <option>Mercedes</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_models">
                                      <h6 class="title">Models</h6>
                                      <select class="selectpicker">
                                        <option>Select Models</option>
                                        <option>A3 Sportback</option>
                                        <option>A4</option>
                                        <option>A6</option>
                                        <option>Q5</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <div class="car_prices">
                                      <h6 class="title">Price</h6>
                                      <select class="selectpicker">
                                        <option>All Price</option>
                                        <option>No max Price</option>
                                        <option>$2,000</option>
                                        <option>$5,000</option>
                                        <option>$10,000</option>
                                        <option>$15,000</option>
                                        <option>$5,000</option>
                                      </select>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-inline-item">
                                  <div class="select-boxes">
                                    <button class="btn btn-thm advnc_search_form_btn"><span class="flaticon-magnifiying-glass"></span>Search</button>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt100 justify-content-center">
          <div class="col-lg-8">
            <div class="main-title text-center">
              <h2>Why Choose Us?</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="why_chose_us">
              <div class="icon float-start fn-520"><span class="flaticon-price-tag"></span></div>
              <div class="details">
                <h5 class="title">Best Price</h5>
                <p>Our stress-free finance department that can find financial solutions to save you money.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="why_chose_us">
              <div class="icon float-start fn-520 style2"><span class="flaticon-price-tag"></span></div>
              <div class="details">
                <h5 class="title">Trusted By Thousands</h5>
                <p>Our stress-free finance department that can find financial solutions to save you money.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="why_chose_us">
              <div class="icon float-start fn-520 style3"><span class="flaticon-price-tag"></span></div>
              <div class="details">
                <h5 class="title">Wide Range of Brands</h5>
                <p>Our stress-free finance department that can find financial solutions to save you money.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Featured Product  -->
   
    <section class="featured-product pt0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="main-title text-center">
              <h2>Featured Listings</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="popular_listing_sliders row">
              <!-- Nav tabs -->
              <div class="nav nav-tabs col-lg-12 justify-content-center" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All Status</button>
                <button class="nav-link" id="nav-shopping-tab" data-bs-toggle="tab" data-bs-target="#nav-shopping" role="tab" aria-controls="nav-shopping" aria-selected="false">New Cars</button>
                <button class="nav-link" id="nav-hotels-tab" data-bs-toggle="tab" data-bs-target="#nav-hotels" role="tab" aria-controls="nav-hotels" aria-selected="false">Used Cars</button>
              </div>
              <!-- Tab panes -->
                    <style>
                    .fixed-size-image {
        width: 350px; /* par exemple, ajustez cette valeur en fonction de la taille souhaitée */
        height: 200px; /* par exemple, ajustez cette valeur en fonction de la taille souhaitée */
      }
              </style>
  <div class="tab-content col-lg-12" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row">
      {% for prod in products %}
      <div class="col-sm-6 col-xl-6">
        <div class="car-listing list_style">
            <div class="thumb">
              <div class="tag">FEATURED</div>
              <img class="fixed-size-image" src="{{ asset('uploads/' ~ prod.getphoto()) }}" alt="{{ prod.getlabelle() }}">

              <div class="thmb_cntnt2">
                <ul class="mb0">
                  <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-photo-camera mr3"></span> 22</a></li>
                  <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-play-button mr3"></span> 3</a></li>
                </ul>
              </div>
              <div class="thmb_cntnt3">
                <ul class="mb0">
                  <li class="list-inline-item"><a href="#"><span class="flaticon-shuffle-arrows"></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="details">
              <div class="wrapper">
                <h5 class="price">${{ prod.getprix() }}</h5>
                <h6 class="title"><a href="{{ path('app_details_produit', {'idp': prod.getidproduit()}) }}">{{ prod.getlabelle() }}</a></h6>
                <div class="listign_review">
                  <ul class="mb0">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#">4.7</a></li>
                    <li class="list-inline-item">(684 reviews)</li>
                  </ul>
                </div>
              </div>
              <div class="listing_footer">
                <ul class="mb0">
                  <li class="list-inline-item"><a href="#"><span class="flaticon-road-perspective me-2"></span>77362</a></li>
                  <li class="list-inline-item"><a href="#"><span class="flaticon-gas-station me-2"></span>Diesel</a></li>
                  <li class="list-inline-item"><a href="#"><span class="flaticon-gear me-2"></span>Automatic</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="nav-shopping" role="tabpanel" aria-labelledby="nav-shopping-tab">
    <div class="row">
      {% for prod in newCars %}
        <div class="col-sm-6 col-xl-6">
          <div class="car-listing list_style">
            <div class="thumb">
              <div class="tag">FEATURED</div>
              <img class="h100p" src="{{ asset('uploads/' ~ prod.getphoto()) }}" alt="{{ prod.getlabelle() }}">
              <div class="thmb_cntnt2">
                <ul class="mb0">
                  <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-photo-camera mr3"></span> 22</a></li>
                  <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-play-button mr3"></span> 3</a></li>
                </ul>
              </div>
              <div class="thmb_cntnt3">
                <ul class="mb0">
                  <li class="list-inline-item"><a href="#"><span class="flaticon-shuffle-arrows"></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="details">
              <div class="wrapper">
                <h5 class="price">${{ prod.getprix() }}</h5>
                <h6 class="title"><a href="{{ path('app_details_produit', {'idp': prod.getidproduit()}) }}">{{ prod.getlabelle() }}</a></h6>
                <div class="listign_review">
                  <ul class="mb0">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="list-inline-item"><a href="#">4.7</a></li>
                    <li class="list-inline-item">(684 reviews)</li>
                  </ul>
                </div>
              </div>
              <div class="listing_footer">
                <ul class="mb0">
                  <li class="list-inline-item"><a href="#"><span class="flaticon-road-perspective me-2"></span>77362</a></li>
                  <li class="list-inline-item"><a href="#"><span class="flaticon-gas-station me-2"></span>Diesel</a></li>
                  <li class="list-inline-item"><a href="#"><span class="flaticon-gear me-2"></span>Automatic</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
          </div>
        </div>
        <div class="row mt20">
          <div class="col-lg-12">
            <div class="text-center">
              <a href="page-list-v1.html" class="more_listing">Show All Cars <span class="icon"><span class="fas fa-plus"></span></span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}