{% extends 'base_front_details.html.twig' %}
{% block title %}details Product{% endblock %}
{% block pane %}
<!-- Agent Single Grid View -->
<section class="our-agent-single bgc-f9 pb90 mt70-992 pt30">
<div class="container">
  <div class="row mb30">
    <div class="col-xl-12">
      <div class="breadcrumb_content style2">
        <ol class="breadcrumb float-start">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cars for Sale</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row mb30">
    <div class="col-lg-7 col-xl-8">
      <div class="single_page_heading_content">
        <div class="car_single_content_wrapper">
          <ul class="car_info mb20-md">
            <li class="list-inline-item"><a href="#">BRAND NEW - IN STOCK</a></li>
            <li class="list-inline-item"><a href="#"><span class="flaticon-clock-1 vam"></span>2 years ago</a>
            </li>
            <li class="list-inline-item"><a href="#"><span class="flaticon-eye vam"></span>13102</a></li>
          </ul>
          <h2 class="title">{{product.labelle}}</h2>
         
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4">
      <div class="single_page_heading_content text-start text-lg-end">
        <div class="share_content">
          <ul>
            <li class="list-inline-item"><a href="#"><span class="flaticon-email"></span>EMAIL</a></li>
            <li class="list-inline-item"><a href="#"><span class="flaticon-printer"></span>PRINT</a></li>
            <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span>SAVE</a></li>
            <li class="list-inline-item"><a href="#"><span class="flaticon-share"></span>SHARE</a></li>
          </ul>
        </div>
        <div class="price_content">
          <div class="price mt60 mb10 mt10-md">
            <h3><small class="mr15"><del>${{product.prix * 1.5}}</del></small>${{product.prix}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-xl-8">
      <div class="row">
        <div class="col-lg-12">
          <div class="single_product_grid single_page1">
            <div class="single_product_slider">
              <div class="item">
                <div class="sps_content">
                  <div class="thumb">
                    <div class="single_product">
                      <div class="single_item">
                        <div class="thumb">
                          <div class="tags">FEATURED</div>
                          <img class="img-fluid" src="{{ asset('uploads/' ~ product.getphoto()) }}" alt="{{ product.getlabelle() }}">
                      </div>
                      </div>
                      <div class="overlay_icon"><a class="video_popup_btn popup-img popup-youtube"
                          href="https://www.youtube.com/watch?v=oqNZOOWF8qM"><span
                            class="flaticon-play-button"></span>Video</a></div>
                    </div>
                  </div>
                </div>
              </div>
             
        <div class="col-lg-12">
          <div class="opening_hour_widgets p30 mt30">
            <div class="wrapper">
              <h4 class="title">Overview</h4>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Type</div>
                  </div>
                  <span class="schedule">{{product.type}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">labelle</div>
                  </div>
                  <span class="schedule">{{product.labelle}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Color</div>
                  </div>
                  <span class="schedule">white</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Drive Type</div>
                  </div>
                  <span class="schedule">4x4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Transmission</div>
                  </div>
                  <span class="schedule">Automatic</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Condition</div>
                  </div>
                  <span class="schedule">Used</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Year</div>
                  </div>
                  <span class="schedule">2021</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Mileage</div>
                  </div>
                  <span class="schedule">280,000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Fuel Type</div>
                  </div>
                  <span class="schedule">Diesel</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Engine Size</div>
                  </div>
                  <span class="schedule">5.2L</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Doors</div>
                  </div>
                  <span class="schedule">5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">Cylinders</div>
                  </div>
                  <span class="schedule">10</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="me-auto">
                    <div class="day">VIN</div>
                  </div>
                  <span class="schedule">2D456THA798700213GT21</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="listing_single_description mt30">
            <h4 class="mb30">Description <span class="float-end body-color fz13">ID #9535</span></h4>
            <p class="first-para">{{product.description}}</p>
            </div>

            <div class="listing_single_type mt30">
            <h4 class="mb30">Type <span class="float-end body-color fz13">ID #9535</span></h4>
            <p class="first-para">{{product.type}}</p>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="user_profile_service">
            <div class="row">
              <div class="col-lg-12">

                <h4 class="title">Features</h4>
              </div>
              <div class="col-lg-6 col-xl-6">
                <h5 class="subtitle">Convenience</h5>
              </div>
              <div class="col-lg-6 col-xl-5">
                <ul class="service_list">
                  <li>Heated Seats</li>
                  <li>Heated Steering Wheel</li>
                  <li>Navigation System</li>
                  <li>Power Liftgate</li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-xl-6">
                <h5 class="subtitle">Entertainment</h5>
              </div>
              <div class="col-lg-6 col-xl-5">
                <ul class="service_list">
                  <li>Apple CarPlay/Android Auto</li>
                  <li>Bluetooth</li>
                  <li>HomeLink</li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-xl-6">
                <h5 class="subtitle">Exterior</h5>
              </div>
              <div class="col-lg-6 col-xl-5">
                <ul class="service_list">
                  <li>Alloy Wheels</li>
                  <li>Sunroof/Moonroof</li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-xl-6">
                <h5 class="subtitle">Safety</h5>
              </div>
              <div class="col-lg-6 col-xl-5">
                <ul class="service_list">
                  <li>Backup Camera</li>
                  <li>Blind Spot Monitor</li>
                  <li>Brake Assist</li>
                  <li>LED Headlights</li>
                  <li>Stability Control</li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12">
                <a class="fz12 tdu color-blue" href="#">View all features</a>
              </div>
            </div>
          </div>
          <div class="user_profile_location">
            <h4 class="title">Location</h4>
            <div class="property_sp_map mb40">
              <div class="h400 bdrs8" id="map-canvas"></div>
            </div>
            <div class="upl_content d-block d-md-flex">
              <p class="float-start fn-sm mb20-sm"><span class="fas fa-map-marker-alt pr10 vam"></span>3891
                Ranchview Dr. Richardson, California 62639</p>
              <button class="btn location_btn">Get Direction</button>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="user_profile_review">
            <div class="energy_class">
              <h4 class="mb30 mt10">Consumer reviews</h4>
              <div class="single_line">
                <p class="para">Comfort</p>
                <ul class="review">
                  <li class="list-inline-item"><span class="total_rive_count">4.7</span></li>
                </ul>
              </div>
              <div class="single_line">
                <p class="para">Interior design</p>
                <ul class="review">
                  <li class="list-inline-item"><span class="total_rive_count">4.9</span></li>
                </ul>
              </div>
              <div class="single_line">
                <p class="para">Performance</p>
                <ul class="review">
                  <li class="list-inline-item"><span class="total_rive_count">4.6</span></li>
                </ul>
              </div>
              <div class="single_line">
                <p class="para">Value for the money</p>
                <ul class="review">
                  <li class="list-inline-item"><span class="total_rive_count">5.0</span></li>
                </ul>
              </div>
              <div class="single_line">
                <p class="para">Exterior styling</p>
                <ul class="review">
                  <li class="list-inline-item"><span class="total_rive_count">4.3</span></li>
                </ul>
              </div>
              <div class="single_line bbn">
                <p class="para">Reliability</p>
                <ul class="review">
                  <li class="list-inline-item"><span class="total_rive_count">4.0</span></li>
                </ul>
              </div>
            </div>
            <div class="product_single_content">
              <div class="mbp_pagination_comments">
                <div class="mbp_first d-flex db-414">
                  <div class="flex-shrink-0">
                    <img src="images/blog/reviewer1.png" class="mr-3" alt="reviewer1.png">
                  </div>
                  <div class="flex-grow-1 ms-4 ml0-414">
                    <h4 class="sub_title">Jane Cooper</h4>
                    <div class="sspd_postdate mb15">April 6, 2021 at 3:21 AM
                      <div class="sspd_review float-none float-sm-end">
                        <ul class="mb0 pl15 pl0-sm">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item">(5 reviews)</li>
                        </ul>
                      </div>
                    </div>
                    <p>Every single thing we tried with John was delicious! Found some awesome places we would
                      definitely go back to on our trip. John was also super friendly and passionate about
                      Beşiktaş and Istanbul. </p>
                  </div>
                </div>
                <div class="mbp_first d-flex db-414">
                  <div class="flex-shrink-0">
                    <img src="images/blog/reviewer2.png" class="mr-3" alt="reviewer2.png">
                  </div>
                  <div class="flex-grow-1 ms-4 ml0-414">
                    <h4 class="sub_title">Jane Cooper</h4>
                    <div class="sspd_postdate mb15">April 6, 2021 at 3:21 AM
                      <div class="sspd_review float-none float-sm-end">
                        <ul class="mb0 pl15 pl0-sm">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item">(5 reviews)</li>
                        </ul>
                      </div>
                    </div>
                    <p>Every single thing we tried with John was delicious! Found some awesome places we would
                      definitely go back to on our trip. John was also super friendly and passionate about
                      Beşiktaş and Istanbul. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="user_review_form">
            <div class="bsp_reveiw_wrt">
              <h4 class="mt10">Write a Review</h4>
              <div class="df db-sm">
                <table class="table table-responsive table-borderless wa mr100 mr0-sm mb20">
                  <thead>
                    <tr>
                      <th class="pl0" scope="col">Comfort</th>
                      <td>
                        <div class="sspd_review">
                          <ul class="mb0 pl15 pl0-lg">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="pl0" scope="row">Performance</th>
                      <td>
                        <div class="sspd_review">
                          <ul class="mb0 pl15 pl0-lg">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th class="pl0" scope="row">Exterior styling</th>
                      <td>
                        <div class="sspd_review">
                          <ul class="mb0 pl15 pl0-lg">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-responsive table-borderless wa mb20">
                  <thead>
                    <tr>
                      <th class="pl0" scope="col">Interior design</th>
                      <td>
                        <div class="sspd_review">
                          <ul class="mb0 pl15 pl0-lg">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="pl0" scope="row">Value for the money</th>
                      <td>
                        <div class="sspd_review">
                          <ul class="mb0 pl15 pl0-lg">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th class="pl0" scope="row">Reliability</th>
                      <td>
                        <div class="sspd_review">
                          <ul class="mb0 pl15 pl0-lg">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <form class="comments_form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" rows="9" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-thm">Send Your Review</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-4">
      <div class="offer_btns">
        <div class="text-end">
          <button class="btn btn-thm ofr_btn1 btn-block mt0 mb20"><span
              class="flaticon-coin mr10 fz18 vam"></span>Make an Offer Price</button>
          <button class="btn ofr_btn2 btn-block mt0 mb20"><span
              class="flaticon-profit-report mr10 fz18 vam"></span>View VIN Report</button>
        </div>
      </div>
      <div class="sidebar_seller_contact">
        <div class="d-flex align-items-center mb30">
          <div class="flex-shrink-0">
            <img class="mr-3 author_img w60" src="images/team/seller.png" alt="author.png">
          </div>
          <div class="flex-grow-1 ms-3">
            <h5 class="mt0 mb5 fz16 heading-color fw600">Volvo Cars Istanbul</h5>
            <p class="mb0 tdu"><span class="flaticon-phone-call pr5 vam"></span>(302) 555-0107</p>
          </div>
        </div>
        <h4 class="mb30">Contact Seller</h4>
        <form action="#">
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <input class="form-control form_control" type="text" placeholder="Name">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <input class="form-control form_control" type="text" placeholder="Phone">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <input class="form-control form_control" type="email" placeholder="Email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <textarea class="form-control"
                  rows="6">I am interested in a price quote on this vehicle. Please contact me at your earliest convenience with your best price for this vehicle.</textarea>
              </div>
              <button type="submit" class="btn btn-block btn-thm mt10 mb20">Send Message</button>
              <button type="submit" class="btn btn-block btn-whatsapp mb0"><span
                  class="flaticon-whatsapp mr10 text-white"></span>WhatsApp</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}