{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add your custom styles here */
        .card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .form-label {
            font-weight: bold;
        }
        .preview-image {
            border-radius: 5px;
            margin-top: 10px;
            max-width: 200px;
        }
        #mapIframe {
            border-radius: 5px;
            margin-top: 10px;
            width: 100%;
            height: 300px;
        }

        .invalid-input {
            border-color: red;
        }




        
        
       
    </style>
{% endblock %}

{% block pane %}
   
<section class="our-dashbord dashbord bgc-light-gray">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                       <h1 class="text-center mb-4">Create New Product</h1>
                      {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
                      
                      <div class="mb-3">
                          {{ form_label(form.labelle, "Labelle", {'class': 'form-label'}) }}
                          {{ form_widget(form.labelle, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.labelle) }}
                      </div>
                      
                      <div class="mb-3">
                      {{ form_label(form.prix, "Prix") }}
                      {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'id': 'produits_prix'}}) }}
                      {{ form_errors(form.prix) }}
                  </div>
                      <div class="mb-3">
                          {{ form_label(form.description, "Description", {'class': 'form-label'}) }}
                          {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.description) }}
                      </div>
                      
                      <div class="mb-3">
                          {{ form_label(form.type, "Type", {'class': 'form-label'}) }}
                          {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.type) }}
                      </div>
                      
                      <div class="mb-3">
                          {{ form_label(form.status, "Status", {'class': 'form-label'}) }}
                          {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.status) }}
                      </div>
                      
                      <div class="mb-3">
                          {{ form_label(form.periodeGarantie, "Période de Garantie", {'class': 'form-label'}) }}
                          {{ form_widget(form.periodeGarantie, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.periodeGarantie) }}
                      </div>
                      
                   {#  
                      <div class="mb-3">
                      {{ form_label(form.imageFile, "images", {'class': 'form-label'}) }}
                      {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                      {{ form_errors(form.imageFile) }}
                  </div>
                  #}
                  <div class="mb-3">
                  {{ form_label(form.photo, "Photo", {'class': 'form-label'}) }}
                  {{ form_widget(form.photo, {'attr': {'class': 'form-control', 'onchange': 'previewImage(this)'}}) }}
                  <img id="imagePreview" src="#" alt="Preview" class="preview-image" style="max-width: 200px; display: none; margin-top: 10px;">
                  {{ form_errors(form.photo) }}
              </div>
                  
                  <div class="mb-3">
                          {{ form_label(form.video, "Video", {'class': 'form-label'}) }}
                          {{ form_widget(form.video, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.video) }}
                      </div>
                      
                  <div class="mb-3">
                  {{ form_label(form.localisation, "Localisation", {'class': 'form-label'}) }}
                  {{ form_widget(form.localisation, {'attr': {'class': 'form-control', 'onchange': 'updateMap(this)'}}) }}
                  {{ form_errors(form.localisation) }}
                  <iframe id="mapIframe" width="600" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              </div> 
             
              {% if is_granted('ROLE_USER') %}
              <!-- Champ caché pour stocker l'ID de l'utilisateur -->
              <input type="hidden" name="idUtilisateur" value="{{ connectedUser.getId() }}">
          {% endif %}
                <div class="text-center">
                          <button type="submit" class="btn btn-primary">Ajouter un produit</button>
                        <a href="{{ path('app_back_affiche') }}" class="btn btn-secondary">Back to list</a>
                      </div>
                      {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script>

/*

    function previewImage(input) {
        var preview = document.getElementById('imagePreview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = 'block';
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "#";
            preview.style.display = 'none';
        }
    }
*/
function previewImages(input) {
    var previewContainer = document.getElementById('imagePreviews');
    previewContainer.innerHTML = ''; // Clear previous previews

    if (input.files) {
        for (var i = 0; i < input.files.length; i++) {
            var reader = new FileReader();

            reader.onload = function(e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.className = 'preview-image col-4';
                previewContainer.appendChild(img);
            }

            reader.readAsDataURL(input.files[i]);
        }
    }
}


    document.addEventListener('DOMContentLoaded', function() {
        var priceInput = document.getElementById('produits_prix');
    
        // Add event listener for input events on the price field
        priceInput.addEventListener('input', function() {
            console.log('Input event triggered');
            var inputValue = priceInput.value;
    
            // Check if the input value contains any letters
            if (/^[a-zA-Z]+$/.test(inputValue)) {
                // Apply CSS class to change the color of the input field
                priceInput.classList.add('invalid-input');
            } else {
                // Remove the CSS class if the input value is valid
                priceInput.classList.remove('invalid-input');
            }
        });
    });
    
</script>

<script>
    function updateMap(input) {
        var location = input.value;
        var mapIframe = document.getElementById('mapIframe');
        var mapUrl = 'https://maps.google.com/maps?q=' + encodeURIComponent(location) + '&t=&z=13&ie=UTF8&iwloc=&output=embed';
        mapIframe.src = mapUrl;
    }
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwKY_GAO74P5UPIQ4qxOz3irgt66FNcvU&libraries=places&callback=initMap" async defer></script>
{% endblock %}