{% extends 'base.html.twig' %}

{% block title %}Ajout Location{% endblock %}
{% block pane %}
    <h1>Create New location</h1>
	
	<section class="our-dashbord dashbord bgc-f9">
		<div class="container-fluid">
			<div class="row">
        <div class="col-xxl-10 offset-xxl-2 dashboard_grid_space">
					
					<div class="row">
						<div class="col-xl-8">
              <div class="col-lg-12 mb50">
                <div class="breadcrumb_content">
                  <h2 class="breadcrumb_title">Add Listing</h2>
                  <p>Ready to jump back in?</p>
                </div>
              </div>
						</div>
					</div>
          <div class="row">
            <div class="col-lg-12">
              <div class="new_property_form">
              {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

                <h4 class="title mb30">location</h4>
                  <div class="row">
                  <div class="col-md-12">
                  <div class="mb20">
              
                  {{ form_label(form.prix, "prix") }}
                  {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(form.prix) }}
  </div>
                </div>
          
                  <div class="col-md-12">
                      <div class="mb20">
                   
                      {{ form_label(form.type, "type") }}
                      {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                      {{ form_errors(form.type) }}
  </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb20">
                      {{ form_label(form.description, "Description") }}
                      {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                      {{ form_errors(form.description) }}
  </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb20">

                   {{ form_label(form.adresse, "adresse") }}
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.adresse) }}
</div>
                    </div>
      
                    <div class="col-md-12">
                      <div class="mb20">
                      {{ form_label(form.disponibilite, "disponibilite") }}
                    {{ form_widget(form.disponibilite, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.disponibilite) }}
</div>
                    </div>
                    <div class="col-md-12">
    <div class="mb20">
        {{ form_label(form.imageFile, "Image") }}
        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>
</div>
      
                    {# 
                  <div class="col-md-12">
                  <div class="mb20">
                      {{ form_label(form.images, "Photo") }}
                      <input type="file" name="file" style="display: none;" onchange="previewImage(this)">
                      <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button" onclick="document.getElementsByName('file')[0].click()">Browse</button>
                      </span>
                      <img id="imagePreview" src="{{ asset('path_to_your_images_directory/' ~ form.images.vars.value) }}" alt="Preview" style="max-width: 100%; display: block; margin-top: 10px;">
                      {{ form_errors(form.images) }}
                  </div>
              </div>
              #}

                

                <div class="form-group">
                {{ form_label(form.id, "Select User") }}
                {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
            
              </div>

                <div class="col-md-12">
                  <div class="mb20">
                    <button type="submit" class="btn btn-primary">Ajouter un produit</button>
                  </div>
                </div>

              {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{# 
  <script>
    function previewImage(input) {
      var preview = document.getElementById('imagePreview');
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          preview.src = e.target.result;
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  #}
{% endblock %}
