{% extends 'base.html.twig' %}

{% block title %}Show Produits{% endblock %}
  
{% block pane %}
<div class="col-lg-12 mt50">
    <div class="tab-content row" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="col-lg-12">
                <div class="table-responsive my_lisging_table">
                    <table class="table">
                        <thead class="table-light">
                            <tr class="thead_row">
                                <th class="thead_title pl20" scope="col">Labelle</th>
                                <th class="thead_title" scope="col">Description</th>
                                <th class="thead_title" scope="col">PeriodeGarentie</th>
                                <th class="thead_title" scope="col">Type</th>
                                
                                <th class="thead_title" scope="col">Action</th>
                            </tr>
                        </thead>
                       {% for loca in locations %}
   <tr>
    <td class="align-middle pl20" scope="row">
    <div class="car-listing bdr_none d-flex mb0">
    <div class="thumb w150">
    {% set images = loca.getImages() %}
    {% if images|length > 0 %}
        <div class="image-gallery">
            {% for image in images %}
                <img class="img-fluid" src="{{ asset(image.url) }}" alt="Image">
            {% endfor %}
        </div>
    {% else %}
        <!-- Provide a placeholder image if no image is available -->
        <img class="img-fluid" src="{{ asset('uploads/boh-1-66033d12ed4e0.jpg') }}" alt="Placeholder Image">
    {% endif %}
</div>
        <div class="details ms-1">
            <h6 class="title"><a href="page-car-single-v1.html">{{ loca.type }}</a></h6>
            <h5 class="price">${{ loca.prix }}</h5>
        </div>
    </div>
</td>
        <td class="align-middle">{{ loca.description }}</td>
        <td class="align-middle">2020</td>
        <td class="align-middle">{{ loca.type }}</td>
        <td class="editing_list align-middle">
            <!-- Your actions buttons -->
        </td>
        <td class="editing_list align-middle">
            <ul>
                <li class="list-inline-item mb-1">
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="View"><span class="flaticon-view"></span></a>
                </li>
                <li class="list-inline-item mb-1">
                    <a href="{{ path('app_modifier_location', {'idl': loca.getIdLocation()}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="flaticon-trash"></span></a>
                </li>
                <li class="list-inline-item mb-1">
                    <a href="{{ path('app_supprimer_location', {'idl': loca.getIdLocation()}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-trash"></span></a>
                </li>
            </ul>
        </td>
    </tr>
{% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a href="{{ path('app_ajout_location') }}" class="btn btn-primary">Ajouter un location</a>
</div>
{% endblock %}
