{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block profileBlock %}
    <li class="user_setting">
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" data-bs-toggle="dropdown">
                <img class="rounded-circle mr10" src="{{ asset('/image/uploads/' ~ user.getAvatar()) }}" height="40px" width="40px" alt="{{ user.getAvatar() }}">
                <span class="dn-1366">{{ user.getNomutilisateur() ~ " " ~ user.getPrenomutilisateur() }} <span class="fas fa-angle-down ml5"></span></span>
            </a>

            <div class="dropdown-menu">
                <div class="user_set_header">
                    <img class="float-start rounded-circle" src="{{ asset('/image/uploads/' ~ user.getAvatar()) }}" alt="{{ user.getAvatar() }}" height="40px" width="40px">
                    <p>{{ user.getNomutilisateur() ~ " " ~ user.getPrenomutilisateur() }} <br><span class="address">{{ user.getAdresseemail() }}</span></p>
                </div>
                <div class="user_setting_content">
                    <a class="dropdown-item active" href="{{ path('profile') }}">My Profile</a>
                    <a class="dropdown-item" href="#">Messages</a>
                    <a class="dropdown-item" href="#">My Listing</a>
                    <a class="dropdown-item" href="#">Help</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </div>
        </div>
    </li>
{% endblock %}

{% block pane %}
    <h1>Utilisateur index</h1>

    <input type="text" id="searchInput" placeholder="Search...">

    <div class="table-responsive">
        <table class="table table-striped table-hover" id="users">
            <thead>
            <tr>
                <th>Id</th>
                <th>Idgoogle</th>
                <th>Nomutilisateur</th>
                <th>Prenomutilisateur</th>
                <th>Sexe</th>
                <th>Datedenaissance</th>
                <th>Actions</th> <!-- Added column for actions -->
            </tr>
            </thead>
            <tbody id="utilisateursTableBody">
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.id }}</td>
                    <td>{{ utilisateur.idgoogle }}</td>
                    <td>{{ utilisateur.nomutilisateur }}</td>
                    <td>{{ utilisateur.prenomutilisateur }}</td>
                    <td>{{ utilisateur.sexe }}</td>
                    <td>{{ utilisateur.datedenaissance ? utilisateur.datedenaissance|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-primary btn-sm">Show</a>
                        <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_utilisateur_new') }}" class="btn btn-primary btn-sm">Create new</a>

    <script>
        // Function to perform search
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("users");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break; // Break the inner loop when a match is found
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }

        // Add event listener for input change
        document.getElementById("searchInput").addEventListener("input", searchTable);
    </script>

{% endblock %}

