{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block profileBlock %}
    {% if user.role == "U" %}

        {% block dashboard %}

        {% endblock %}

    {% endif %}

    {% if user.role == "U" %}
        {% block partenaires %}

        {% endblock %}

    {% endif %}
    {% if user.role == "U" %}
        {% block messages %}

        {% endblock %}

    {% endif %}
    <li class="user_setting">
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" data-bs-toggle="dropdown">
                {% if user.getAvatar() is not null %}
                    <img class="rounded-circle mr10" src="{{ asset('/image/uploads/' ~ user.getAvatar()) }}" height="40px" width="40px" alt="{{ user.getAvatar() }}">
                {% else %}
                    <img class="rounded-circle mr10" src="{{ asset('/image/uploads/upload_photo.png') }}" height="40px" width="40px" alt="Default Avatar">
                {% endif %}
                <span class="dn-1366">{{ user.getNomutilisateur() ~ " " ~ user.getPrenomutilisateur() }} <span class="fas fa-angle-down ml5"></span></span>
            </a>

            <div class="dropdown-menu">
                <div class="user_set_header">
                    {% if user.getAvatar() is not null %}
                        <img class="float-start rounded-circle" src="{{ asset('/image/uploads/' ~ user.getAvatar()) }}" alt="{{ user.getAvatar() }}" height="40px" width="40px">
                    {% else %}
                        <img class="float-start rounded-circle" src="{{ asset('/image/uploads/upload_photo.png') }}" alt="Default Avatar" height="40px" width="40px">
                    {% endif %}
                    <p>{{ user.getNomutilisateur() ~ " " ~ user.getPrenomutilisateur() }} <br><span class="address">{{ user.getAdresseemail() }}</span></p>
                </div>
                <div class="user_setting_content">
                    <a class="dropdown-item active" href="{{ path('profile') }}">My Profile</a>
                    <a class="dropdown-item" href="#">Messages</a>
                    <a class="dropdown-item" href="#">My Listing</a>
                    <a class="dropdown-item" href="#">Help</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </div>
        </div>
    </li>
{% endblock %}


{% block pane %}

    <div class="row">
        <div class="col-lg-12">
            <div class="new_property_form mb30">
                <h4 class="title mb30">Account Details</h4>

                <form class="contact_form" name="contact_form" action="{{ path('MisAjour') }}" method="post" novalidate enctype="multipart/form-data">
                    <div class="dp_user_thumb_content">
                        <div class="wrap-custom-file mb25">
                            <input type="file" name="image" id="image1" accept=".gif, .jpg, .png">
                            {% if user.getAvatar() is not null %}

                                <label for="image1" class="file-ok" style="background-image: url('{{ asset('/image/uploads/' ~ user.getAvatar()) }}');">

                                <span>&nbsp;&nbsp;Browse</span>
                                </label>
                            {% else %}
                                <label for="image1">
                                    <span>&nbsp;&nbsp;Browse</span>
                                </label>
                            {% endif %}

                            <small class="file_title">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg & .png</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <input name="form_name" class="form-control form_control" type="text" placeholder="Name" id="name" value="{{ user.getNomutilisateur() }}">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <input name="form_prenom" class="form-control form_control" type="text" placeholder="Prenom" id value="{{user.getPrenomutilisateur()  }}">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <input name="form_tlf" class="form-control form_control" type="tel" placeholder="Phone" pattern="[0-9]{2}-[0-9]{3}-[0-9]{3}" value="{% if user.getNumerotelephone() is defined %}{{ user.getNumerotelephone() }}{% endif %}">

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <input name="form_Cin" class="form-control form_control" type="tel" placeholder="carte d'identité"  pattern="[0-9]{8}" value="{% if user.getNumerocin() is defined %}{{ user.getNumerocin() }}{% endif %}">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="ui_kit_select_search add_new_property mb20">
                                        <select class="selectpicker" data-live-search="true" data-width="100%"  name="pays">
                                            <option {% if user.getPays() is defined %}selected{% endif %}>{{ user.getPays() }}</option>

                                            <option>Ariana</option>
                                            <option>Béja</option>
                                            <option>Ben Arous</option>
                                            <option>Bizerte</option>
                                            <option>Gabès</option>
                                            <option>Gafsa</option>
                                            <option>Jendouba</option>
                                            <option>Kairouan</option>
                                            <option>Kasserine</option>
                                            <option>Kébili</option>
                                            <option>Le Kef</option>
                                            <option>Mahdia</option>
                                            <option>La Manouba</option>
                                            <option>Médenine</option>
                                            <option>Monastir</option>
                                            <option>Nabeul</option>
                                            <option>Sfax</option>
                                            <option>Sidi Bouzid</option>
                                            <option>Siliana</option>
                                            <option>Sousse</option>
                                            <option>Tataouine</option>
                                            <option>Tozeur</option>
                                            <option>Tunis</option>
                                            <option>Zaghouan</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="mb20">
                                        <input name="form_date" class="form-control form_control" type="date" value="{% if user.getDatedenaissance() is defined %}{{ user.getDatedenaissance()|date('Y-m-d') }}{% endif %}">

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="new_propertyform_btn">
                                        <button class="btn btn-thm ad_flor_btn" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="new_property_form">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="title mb30">Change Password</h4>
                    </div>
                    <div class="col-sm-6 col-lg-7">
                        <div class="mb20">
                            <input name="form_name" class="form-control form_control" type="text" placeholder="Old Password">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7">
                        <div class="mb20">
                            <input name="form_name" class="form-control form_control" type="text" placeholder="New Password">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-7">
                        <div class="mb20">
                            <input name="form_name" class="form-control form_control mb20" type="text" placeholder="Re-enter New Password">
                            <a href="#" class="btn btn-thm ad_flor_btn">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>

{% endblock %}
