{% extends 'utilisateur/index.html.twig' %}
{% block title %}Utilisateur{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="mb-4">Utilisateur</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th class="w-25">Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Idgoogle</th>
                <td>{{ utilisateur.idgoogle }}</td>
            </tr>
            <tr>
                <th>Nomutilisateur</th>
                <td>{{ utilisateur.nomutilisateur }}</td>
            </tr>
            <tr>
                <th>Prenomutilisateur</th>
                <td>{{ utilisateur.prenomutilisateur }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ utilisateur.sexe }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {{ include('utilisateur/_delete_form.html.twig') }}

    <a href="{{ path('app_utilisateur_index') }}" class="btn btn-primary mb-3">Back to list</a>
    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning">Edit</a>
{% endblock %}
