{% extends 'front.html.twig' %}
{% block title %}Login{% endblock %}

{% block main %}
    <section class="our-log bgc-f9">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="login_form mt60-sm">
                        <h2 class="title">Sign in</h2>
                        <p>New to Cars.com? <a href={{ path('app_signup') }}>Sign up.</a> Are you a dealer?</p>
                        <form action="{{ path('Login') }}" method="post" id="login_form">
                            <div class="mb-2 mr-sm-2">
                                <label class="form-label">Username or email address  *</label>
                                <input type="text" class="form-control" name="email" id="email">
                            </div>
                            <div class="form-group mb5">
                                <label class="form-label">Password  *</label>
                                <input type="password" class="form-control" name="password"  id="password">
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="exampleCheck3"  >
                                <label class="custom-control-label" for="exampleCheck3">Remember me</label>
                                <a class="btn-fpswd float-end" href="#">Lost your password?</a>
                            </div>
                            <input type="hidden" name="g-recaptcha-response" id="recaptchaResponse">
                            <button type="submit" class="btn btn-log btn-thm mt5">Sign in</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-xl-1 col-xl-5 offset-xl-2">
                    <div class="login_with">
                        <h2 class="title">Connect With Social</h2>
                        <div class="social_btn">
                            <a class="btn btn_google" href="{{ path('connect_google') }}"><span class="fab fa-google"></span>Log In via Google+</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

            {% block jsControle %}
                <script src="{{ asset('js/LogControl.js') }}"></script>
                <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
                <script>
                    grecaptcha.ready(function() {
                        grecaptcha.execute('{{ site_key }}', {action: 'submit'}).then(function(token) {
                            document.getElementById('recaptchaResponse').value = token;
                        });
                    });
                </script>
            {% endblock %}

    </section>
{% if errorMsg|length > 0 %}
    <div class="alert alert-danger" role="alert">
        {{ errorMsg }}
    </div>
    {% endif %}

{% endblock %}